a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
li {
  list-style: none;
  padding: 1em;
}

th,
td {
  border: none;
  width: 6em;
  padding: 0.5em;
}

tr {
  border: 1px solid transparent;
}

tr:hover td {
  border: 1px solid gray;
}

body {
  margin-top: 10em;
  margin-bottom: 8em;
  font-family: "Courier New", Courier, monospace;
  background-color: #282c34;
  text-align: center;
  padding: 1em;
  color: white;
}

form {
  padding: 1em;
  width: 80%;
  margin: auto;
}

input {
  margin: 1em;
  padding: 1em;
  width: 100%;
}

label {
  text-align: left;
}

button {
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #008cba; /* Green */
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

table {
  font-family: "Courier New", Courier, monospace;
  background-color: #282c34;
  margin: auto;
  padding: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
